<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Documentation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>INSTALL.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>Input Devices.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>PropertyList_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>UnitTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>all_tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>cefix.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>everything.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>test_animation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>test_appframework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>test_display_collection.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>test_font_factory.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>test_multitouch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>test_notification_manager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>test_particlesystem.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>test_pen_pressure.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>test_picking.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>test_postscript_writer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>test_quicktime.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>test_serial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>test_textonspline.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>test_threadpool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>test_tweening.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>test_widgets.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8D07F2BC0486CC7A007CD1D0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D40A144711803BFA00EBEA0C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D413A9550F59953A00C0234B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D413A9640F59957400C0234B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D418E81E099F83F2003A3469</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4399A571466C51500ADED91</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D43E3ADB09F2820900C65D5C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4401E300CF9E1E5007AEBDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D441345B0A09FAC70066EFED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D45E80481376AE36006AD3C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4605A4C0C578CEF0022EC10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4700F980A0F68A600BDCD8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D48526490D3C1F410063384D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4A16F3409FE6704005CF2F8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4A34EF9099CEB44003B3621</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4A351E9099CEF04003B3621</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4AAAAE20BD4DAAD0047825F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4ACD6E40A0B4CF000A23417</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4CF6B340B01D306004F7E5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4DF486E09A21AE6004596FD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4E2052809FFA6C700D8D018</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4E67F9B0D7C584700C786D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4F411D00F5BE1D10052261D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4FEB03B0F89E61A0054136E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
